.formPersonalDetails select, .formPersonalDetails input{
    border: none !important;
    border-bottom:1px solid rgba(169, 169, 169, 0.823) !important;
    outline: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2vw;
}

.breadcrumb-nativeLink a:hover{
    color: gray !important;
    text-decoration: none;
}

.breadcrumb-nativeLink a{
    color: black !important;
    text-decoration: none;
}

.button-BookNow button{
    color: white !important;
    background-color: black;
    border: 1px solid black;
    width: 11vw;
    transition: 0.5s;
}

.button-BookNow button:hover{
    color: black !important;
    background-color: #F3F1EF;
    border: 1px solid black;
    width: 11vw;
}

.iconHotel{
    position: relative;
    top: -10px;
}