# /node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
# .env
# .env.backup
# .phpunit.result.cache
.DS_Store
._.DS_Store
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
._.*
._*

# find . -depth -name '.DS_Store' -exec git rm --cached '{}' \; -print