.icon{
    position: relative;
    top: -1px;
}

.iconBasket{
    position: relative;
    top: -8px;
}

.iconCalendar{
    position: relative;
    top: -3px;
}

.breadcrumb-nativeLink a:hover{
    color: gray !important;
    text-decoration: none;
}

.breadcrumb-nativeLink a{
    color: black !important;
    text-decoration: none;
}

.button-Continue button{
    color: white !important;
    background-color: black;
    border: 1px solid black;
    width: 11vw;
    transition: 0.5s;
}

.button-Continue button:hover{
    color: black !important;
    background-color: #F3F1EF;
    border: 1px solid black;
    width: 11vw;
}

.btn-del-spin:hover .icon-spin{
    transition: 1s;
}

.btn-del-spin:hover .icon-spin{
    transform: rotate(180deg);
}

.hover-pointer{
    cursor: pointer;
}

.hover-underline:hover{
    text-decoration: underline;
}

.modalDate{
    width: 30vw;
    top: 30%;
    transform: translateY(-50%);
}

.date-start-picker input, .date-end-picker input{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5vh;
    border: none;
    line-height: 30px;
    border-bottom: 1px solid rgba(169, 169, 169, 0.823);
    outline: none;
}
.date-start-picker, .date-end-picker{
    margin-bottom: 2.5vh;
}